PORT=3005

# MongoDB Atlas connection string
# Replace with your actual MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/paymentdb?retryWrites=true&w=majority

# Service URLs
ORDER_SERVICE_URL=http://localhost:3004

